* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(17, 16, 16);
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.counter--display {
  width: 10%;
  height: 20%;
  border-radius: 100%;
  border: none;
  padding: 0;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 5%;
  height: 10%;
  border-radius: 100%;
  border: none;
  color: white;
  background: rgb(63, 61, 61);
  font-size: 2rem;
}

.button:hover {
  opacity: 0.5;
}
