@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: white;
}

/* container */
.container {
  height: 100vh;
  background: #282d35;
}

.center {
  padding: 1em;
}

/* header */

.img {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.158);
}

nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 2em;
}

ul li::marker {
  font-size: 1.3rem;
  color: #61dafb;
}

/* middle content */

.main-content {
  margin-bottom: 1em;
}

.main-content h1 {
  margin-bottom: 0.3em;
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: grey;
  padding: 0.4em;
}
