div.div__button,
.state {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  font-size: 1em;
  color: white;
}

button,
.state--value {
  color: rgb(49, 160, 49);
  font-size: 1.3em;
  width: fit-content;
  /* width: 20%; */
  border-radius: 100%;
  padding: 1em 6em;
  background: white;
  border: 2px solid rgba(255, 255, 255, 0.884);
  text-align: center;
}

button:hover {
  background: rgba(255, 255, 255, 0.616);
  color: black;
}

body {
  background: rgb(49, 160, 49);
}
